{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Folha de Ponto</title>
</head>
<body>
    <h2>Deletar Folha de Ponto</h2>
    <form method="POST">
      {% csrf_token %}
      <p>Você tem certeza que deseja deletar a folha de ponto de "{{ object.funcionario }}" de {{ object.data_inicio }} até {{ object.data_fim }}?</p>
      <button type="submit">Sim, deletar</button>
    </form>
    <a href="{% url 'folhadeponto_list' %}">Não, voltar para a lista</a>
</body>
</html>