{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folha de Ponto</title>
</head>
<body>
  <h2>Folhas de Ponto</h2>
  <table>
    <tr>
      <th>Colaborador</th>
      <th>Mês</th>
      <th>Ano</th>
      <th>Marcações</th>
    </tr>
  {% for folha in object_list %}
    <tr>
      <td><a href="{% url 'folha_detail' folha.id %}">{{ folha.colaborador.nome }}</a></td>
      <td>{{ folha.mes }}</td>
      <td>{{ folha.ano }}</td>
      <td>{{ folha.marcacoes }}</td>
    </tr>
  {% endfor %}
  </table>
</body>
</html>
